{
  "openapi": "3.0.0",
  "info": {
    "title": "DK Marketplace - Open API Service",
    "description": "This project is an <b>enhancement of the Digikala Marketplace API</b>. Its main goal is providing an API-based solution for Developers useful for implementing new Applications To improve Digikala Sellers Business. <br>To use these APIs, you must have an <b>'Active Client'</b> registered in Digikala. If you don't, You can use the <b>[Sandbox](https://github.com/salimousavi/seller_service_sandbox)</b> (with Mock Data) to develop your Application. <br>For More Information (Client Registration, Issues, Bugs and suggestions), please contact us.\n### API count: 274",
    "version": "1.0.0",
    "contact": {
      "email": "Marketplace-API@digikala.com"
    }
  },
  "servers": [
    {
      "url": "https://seller.digikala.com",
      "description": "DK Marketplace Open API (Production Mode)"
    }
  ],
  "paths": {
    "/open-api/v1/": {
      "get": {
        "tags": [
          "Health-check (1)"
        ],
        "summary": "",
        "description": "Return service details and settings.",
        "parameters": [
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "Undefined"
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/auth/scopes": {
      "get": {
        "tags": [
          "Authentication (5)"
        ],
        "summary": "",
        "description": "List of <b>Scopes</b>.<br>This API shows all scopes that are defined in this service and can be used, but it does <b>NOT</b> mean it is available for your application.<br>If you don't have a scope and your application need it, contact the support team for it",
        "parameters": [
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "ScopeListView",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "request status",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data of request",
                      "properties": {
                        "sort_data": {
                          "type": "object",
                          "description": "data about sorting things",
                          "properties": {
                            "sort_column": {
                              "type": "string",
                              "description": "name of sort column",
                              "example": "id"
                            },
                            "sort_order": {
                              "type": "string",
                              "description": "acs or desc",
                              "example": "asc"
                            },
                            "sort_columns": {
                              "type": "array",
                              "description": "name of sort columns",
                              "example": [
                                "id"
                              ]
                            }
                          }
                        },
                        "pager": {
                          "type": "object",
                          "description": "data about pager things",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "page number",
                              "example": 1
                            },
                            "item_per_page": {
                              "type": "integer",
                              "description": "number of item per page",
                              "example": 50
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "number of total pages"
                            },
                            "total_rows": {
                              "type": "integer",
                              "description": "number of total rows"
                            }
                          }
                        },
                        "form_data": {
                          "type": "array",
                          "items": {}
                        },
                        "items": {
                          "type": "array",
                          "description": "items of view",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "scope identification key. use this in seller redirection to digikala for getting access",
                                "example": "variant"
                              },
                              "title": {
                                "type": "string",
                                "description": "The scope title in Persian",
                                "example": "مدیریت تنوع و قیمت‌گذاری"
                              },
                              "description": {
                                "type": "string",
                                "description": "The scope definition in persian",
                                "example": "امکان مشاهده و ویرایش اطلاعات مدیریت تنوع و قیمت‌گذاری پنل شما را خواهد داشت"
                              },
                              "access": {
                                "type": "string",
                                "description": "Define Access Level. \"write\" is for all APIs, but the \"read\" is for GET APIs",
                                "example": "write",
                                "enum": [
                                  "write",
                                  "read"
                                ]
                              }
                            }
                          }
                        },
                        "meta_data": {
                          "type": "object",
                          "description": "meta data",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/auth/scopes/{client_code}": {
      "get": {
        "tags": [
          "Authentication (5)"
        ],
        "summary": "",
        "description": "List of available Scopes for <b>your Application</b>. This API return a list of scopes that your application is allowed to use",
        "parameters": [
          {
            "in": "path",
            "name": "client_code",
            "description": "your Application identifier",
            "required": true,
            "example": "sa3123scdacd@sad",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "ClientAvailableScopeListView",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "request status",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data of request",
                      "properties": {
                        "sort_data": {
                          "type": "object",
                          "description": "data about sorting things",
                          "properties": {
                            "sort_column": {
                              "type": "string",
                              "description": "name of sort column",
                              "example": "id"
                            },
                            "sort_order": {
                              "type": "string",
                              "description": "asc or desc",
                              "example": "asc"
                            },
                            "sort_columns": {
                              "type": "string",
                              "description": "name of sort columns",
                              "example": [
                                "id",
                                "created_at",
                                "status"
                              ]
                            }
                          }
                        },
                        "pager": {
                          "type": "object",
                          "description": "data about pager things",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "page number",
                              "example": 1
                            },
                            "item_per_page": {
                              "type": "integer",
                              "description": "number of item per page",
                              "example": 10
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "number of total pages",
                              "example": 100
                            },
                            "total_rows": {
                              "type": "integer",
                              "description": "number of total rows",
                              "example": 100
                            }
                          }
                        },
                        "form_data": {
                          "type": "array",
                          "items": {}
                        },
                        "items": {
                          "type": "array",
                          "description": "items of view",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "scope identification key. use this in seller redirection to digikala for getting access",
                                "example": "variant"
                              },
                              "title": {
                                "type": "string",
                                "description": "The scope title in Persian",
                                "example": "مدیریت تنوع و قیمت‌گذاری"
                              },
                              "description": {
                                "type": "string",
                                "description": "The scope definition in Persian ",
                                "example": "امکان مشاهده و ویرایش اطلاعات مدیریت تنوع و قیمت‌گذاری پنل شما را خواهد داشت"
                              },
                              "access": {
                                "type": "string",
                                "description": "Define Access Level. \"write\" is for all APIs, but the \"read\" is for GET APIs",
                                "example": "write",
                                "enum": [
                                  "write",
                                  "read"
                                ]
                              }
                            }
                          }
                        },
                        "meta_data": {
                          "type": "object",
                          "description": "meta data",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/auth/token": {
      "post": {
        "tags": [
          "Authentication (5)"
        ],
        "summary": "",
        "description": "Generate Access and Refresh Token.<br>After seller confirmed your application access, will be redirected back to your application with an <b>authorization_code</b>. you should decrypt the code and use it in this route to activate your access to seller resource",
        "parameters": [
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authorization_code": {
                    "type": "string",
                    "example": "redacted-example-token",
                    "description": "Generated code when seller approved your application access request and redirected back"
                  }
                },
                "required": [
                  "authorization_code"
                ]
              },
              "example": {
                "authorization_code": "redacted-example-token"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ClientCreateTokenForm",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response status (ok, error)",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "example": "redacted-example-token"
                        },
                        "refresh_token": {
                          "type": "string",
                          "example": "redacted-example-token"
                        },
                        "access_token_expires_at": {
                          "type": "object",
                          "description": "creation datetime of the self-token",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "Y-m-d\\TH:i:s.uP",
                              "description": "datetime string in ISO 8601 format",
                              "example": "2025-02-07 00:00:00.000000"
                            },
                            "timezone_type": {
                              "type": "integer",
                              "description": "timezone type number",
                              "example": 3
                            },
                            "timezone": {
                              "type": "string",
                              "description": "timezone string",
                              "example": "Asia/Tehran"
                            }
                          }
                        },
                        "refresh_token_expires_at": {
                          "type": "object",
                          "description": "creation datetime of the self-token",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "Y-m-d\\TH:i:s.uP",
                              "description": "datetime string in ISO 8601 format",
                              "example": "2025-02-07 00:00:00.000000"
                            },
                            "timezone_type": {
                              "type": "integer",
                              "description": "timezone type number",
                              "example": 3
                            },
                            "timezone": {
                              "type": "string",
                              "description": "timezone string",
                              "example": "Asia/Tehran"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response status (error)",
                      "example": "error"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Http status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "General Error Message",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "object",
                      "description": "Response Data",
                      "properties": {
                        "authorization_code": {
                          "type": "array",
                          "description": "input that faced error",
                          "items": {
                            "type": "string",
                            "description": "error message",
                            "example": "این قسمت نباید خالی باشد"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/auth/refresh-token": {
      "post": {
        "tags": [
          "Authentication (5)"
        ],
        "summary": "",
        "description": "Generate New Access Token.<br> After your Access token got expired, you can get new one by your Refresh Token and expired access token",
        "parameters": [
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string",
                    "example": "redacted-example-token",
                    "description": "Your (expired) Access token in JWT format"
                  },
                  "refresh_token": {
                    "type": "string",
                    "example": "redacted-example-token",
                    "description": "your Refresh Token"
                  }
                },
                "required": [
                  "access_token",
                  "refresh_token"
                ]
              },
              "example": {
                "access_token": "redacted-example-token",
                "refresh_token": "redacted-example-token"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ClientRefreshTokenForm",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response status (ok, error)",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "access_token": {
                          "type": "string",
                          "description": "your access Token. use this to get access to resources",
                          "example": "redacted-example-token"
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "your Refresh Token. always rewrite it when you get this",
                          "example": "redacted-example-token"
                        },
                        "access_token_expires_at": {
                          "type": "object",
                          "description": "creation datetime of the self-token",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "Y-m-d\\TH:i:s.uP",
                              "description": "datetime string in ISO 8601 format",
                              "example": "2025-02-07 00:00:00.000000"
                            },
                            "timezone_type": {
                              "type": "integer",
                              "description": "timezone type number",
                              "example": 3
                            },
                            "timezone": {
                              "type": "string",
                              "description": "timezone string",
                              "example": "Asia/Tehran"
                            }
                          }
                        },
                        "refresh_token_expires_at": {
                          "type": "object",
                          "description": "creation datetime of the self-token",
                          "properties": {
                            "date": {
                              "type": "string",
                              "format": "Y-m-d\\TH:i:s.uP",
                              "description": "datetime string in ISO 8601 format",
                              "example": "2025-02-07 00:00:00.000000"
                            },
                            "timezone_type": {
                              "type": "integer",
                              "description": "timezone type number",
                              "example": 3
                            },
                            "timezone": {
                              "type": "string",
                              "description": "timezone string",
                              "example": "Asia/Tehran"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response status (error)",
                      "example": "error"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Http status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "General Error Message",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "object",
                      "description": "Response Data",
                      "properties": {
                        "access_token": {
                          "type": "array",
                          "description": "input that faced error",
                          "items": {
                            "type": "string",
                            "description": "error message",
                            "example": "این قسمت نباید خالی باشد"
                          }
                        },
                        "refresh_token": {
                          "type": "array",
                          "description": "input that faced error",
                          "items": {
                            "type": "string",
                            "description": "error message",
                            "example": "این قسمت نباید خالی باشد"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/auth/revoke": {
      "post": {
        "tags": [
          "Authentication (5)"
        ],
        "summary": "Scopes => self_settings",
        "description": "Revoke seller access token for your application",
        "parameters": [
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "RevokeTokenByClientForm",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response status (ok, error)",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "token revoked successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/categories/tree": {
      "get": {
        "tags": [
          "Category (1)"
        ],
        "summary": "Scopes => product",
        "description": "Return child of given category",
        "parameters": [
          {
            "in": "query",
            "name": "search[parent_id]",
            "description": "parent category id (if null, all root categories will be returned)",
            "required": false,
            "example": 123,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "CategoryTreeOpenApiView",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "request status",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data of request",
                      "properties": {
                        "sort_data": {
                          "type": "object",
                          "description": "data about sorting things",
                          "properties": {
                            "sort_column": {
                              "type": "string",
                              "description": "name of sort column",
                              "example": "id"
                            },
                            "sort_order": {
                              "type": "string",
                              "description": "acs or desc",
                              "example": "asc"
                            },
                            "sort_columns": {
                              "type": "array",
                              "description": "name of sort columns",
                              "example": [
                                "id"
                              ]
                            }
                          }
                        },
                        "pager": {
                          "type": "object",
                          "description": "data about pager things",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "page number",
                              "example": 1
                            },
                            "item_per_page": {
                              "type": "integer",
                              "description": "number of item per page",
                              "example": 50
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "number of total pages"
                            },
                            "total_rows": {
                              "type": "integer",
                              "description": "number of total rows"
                            }
                          }
                        },
                        "form_data": {
                          "type": "array",
                          "items": {}
                        },
                        "items": {
                          "type": "array",
                          "description": "items of view",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "Id of the category",
                                "example": 123
                              },
                              "title": {
                                "type": "string",
                                "description": "Title of the category",
                                "example": "موبایل"
                              }
                            }
                          }
                        },
                        "meta_data": {
                          "type": "object",
                          "description": "meta data",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/product-creation/search/v2": {
      "get": {
        "tags": [
          "Product (28)"
        ],
        "summary": "Scopes => product",
        "description": "Based on search keyword and other filters prepared, this API gives data about products that are currently created on Digikala and seller might want to sell same one",
        "parameters": [
          {
            "in": "query",
            "name": "search[keyword]",
            "description": "search by product name",
            "required": "true",
            "example": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search[categories]",
            "description": "search by product category ids",
            "required": false,
            "example": null,
            "schema": {
              "type": "option"
            }
          },
          {
            "in": "query",
            "name": "search[brands]",
            "description": "search by product brand ids",
            "required": false,
            "example": null,
            "schema": {
              "type": "option"
            }
          },
          {
            "in": "query",
            "name": "search[types]",
            "description": "search by product type ids",
            "required": false,
            "example": null,
            "schema": {
              "type": "option"
            }
          },
          {
            "in": "query",
            "name": "search[colorPalettes]",
            "description": "search by color palette ids",
            "required": false,
            "example": null,
            "schema": {
              "type": "option"
            }
          },
          {
            "in": "query",
            "name": "search[statuses]",
            "description": "search by product statuses",
            "required": false,
            "example": null,
            "schema": {
              "type": "option",
              "enum": [
                "marketable",
                "coming_soon",
                "stop_production"
              ]
            }
          },
          {
            "in": "query",
            "name": "search[fake]",
            "description": "search if product is fake or original",
            "required": false,
            "example": null,
            "schema": {
              "type": "bool"
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "ProductSearchListViewV2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "request status",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data of request",
                      "properties": {
                        "sort_data": {
                          "type": "object",
                          "description": "data about sorting things",
                          "properties": {
                            "sort_column": {
                              "type": "string",
                              "description": "name of sort column",
                              "example": "id"
                            },
                            "sort_order": {
                              "type": "string",
                              "description": "acs or desc",
                              "example": "asc"
                            },
                            "sort_columns": {
                              "type": "array",
                              "description": "name of sort columns",
                              "example": [
                                "id"
                              ]
                            }
                          }
                        },
                        "pager": {
                          "type": "object",
                          "description": "data about pager things",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "page number",
                              "example": 1
                            },
                            "item_per_page": {
                              "type": "integer",
                              "description": "number of item per page",
                              "example": 50
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "number of total pages"
                            },
                            "total_rows": {
                              "type": "integer",
                              "description": "number of total rows"
                            }
                          }
                        },
                        "form_data": {
                          "type": "array",
                          "items": {}
                        },
                        "items": {
                          "type": "array",
                          "description": "items of view",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "example": 12345,
                                "description": "product id"
                              },
                              "title": {
                                "type": "string",
                                "example": "شارژر دیواری باسئوس  مدل Speed mini",
                                "description": "product title"
                              },
                              "status": {
                                "type": "string",
                                "example": "marketable",
                                "description": "product status",
                                "enum": [
                                  "marketable",
                                  "coming_soon",
                                  "stop_production"
                                ]
                              },
                              "min_price": {
                                "type": "integer",
                                "example": 1230000,
                                "description": "minimum allowable selling price"
                              },
                              "commission": {
                                "type": "object",
                                "properties": {
                                  "canSell": {
                                    "type": "boolean",
                                    "description": "is product sellable by seller or not",
                                    "example": false
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "limitation",
                                    "description": "reason of not be sellable product. limitation is because of some required document or etc. cheque_non_digikala is because the product is only sellable by cheque (not cash)",
                                    "enum": [
                                      "limitaion",
                                      "cheque_non_digikala"
                                    ]
                                  },
                                  "commission": {
                                    "type": "double",
                                    "example": 0.05,
                                    "description": "digikala commission percentage of the product"
                                  },
                                  "message": {
                                    "type": "array",
                                    "description": "reason of not sellable product",
                                    "items": {
                                      "type": "string",
                                      "example": "فروش این کالا به یکی از دلایل زیر برای شما محدود شده است:</br>این کالا نیاز به <a href=\"https://selleracademy.digikala.com/%da%af%d8%b1%d9%88%d9%87-%d9%87%d8%a7%db%8c-%da%a9%d8%a7%d9%84%d8%a7%db%8c%db%8c-%da%a9%d9%87-%d8%a8%d8%b1%d8%a7%db%8c-%d9%81%d8%b1%d9%88%d8%b4-%d9%86%db%8c%d8%a7%d8%b2-%d8%a8%d9%87-%d9%85%d8%af%d8%b1/\">مجوز</a> دارد، این کالا به دلایل <a href=\"https://selleracademy.digikala.com/%D8%A7%D9%82%D9%84%D8%A7%D9%85-%D9%85%D9%85%D9%86%D9%88%D8%B9%D9%87/\">دیگری</a> محدود شده است."
                                    }
                                  }
                                }
                              },
                              "market_price": {
                                "type": "integer",
                                "example": 1240000,
                                "description": "current avg pricing for the product"
                              },
                              "image_src": {
                                "type": "string",
                                "description": "product main image - small size",
                                "example": "https://dkstatics-public.digikala.com/digikala-products/85f13b62aba9a9ed31d2a02bf6e1e7fa_1628084094.jpg?x-oss-process=image/resize,m_lfit,h_115,w_115/quality,q_60"
                              },
                              "price_type": {
                                "type": "object",
                                "description": "pricing rules. it shows that if product price is fixed (regulated, printed) or changeable (recommended)",
                                "enum": [
                                  "printed",
                                  "regulated",
                                  "recommended"
                                ],
                                "properties": {
                                  "recommended": {
                                    "type": "string",
                                    "description": "price_type in persian",
                                    "example": "پیشنهادی"
                                  }
                                }
                              },
                              "color_type": {
                                "type": "string",
                                "description": "shows that variants in this product can be priced and sell separately by their color, size or none",
                                "example": "colored",
                                "enum": [
                                  "no_color_no_size",
                                  "colored",
                                  "sized"
                                ]
                              },
                              "number_of_sellers": {
                                "type": "integer",
                                "example": 13,
                                "description": "other sellers count that sell this product"
                              },
                              "is_selling": {
                                "type": "boolean",
                                "example": false,
                                "description": "define if seller selling this product right now or not"
                              },
                              "site": {
                                "type": "string",
                                "example": "digikala",
                                "description": "product site (digikala, digistyle, both)",
                                "enum": [
                                  "digikala",
                                  "digistyle",
                                  "both"
                                ],
                                "nullable": true
                              }
                            }
                          }
                        },
                        "meta_data": {
                          "type": "object",
                          "description": "meta data",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/product-creation/search/suggestion/v2": {
      "get": {
        "tags": [
          "Product (28)"
        ],
        "summary": "Scopes => product",
        "description": "Suggest Products to seller to sell based on the searched keyword. This is the first step of content creation process. it you want to add new product, first search it with this API. if found what you want, ",
        "parameters": [
          {
            "in": "query",
            "name": "search[keyword]",
            "description": "a word(mostly persian) that describe the product name you have for sell",
            "required": false,
            "example": null,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "ProductSearchSuggestionListViewV2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "request status",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data of request",
                      "properties": {
                        "sort_data": {
                          "type": "object",
                          "description": "data about sorting things",
                          "properties": {
                            "sort_column": {
                              "type": "string",
                              "description": "name of sort column",
                              "example": "id"
                            },
                            "sort_order": {
                              "type": "string",
                              "description": "acs or desc",
                              "example": "asc"
                            },
                            "sort_columns": {
                              "type": "array",
                              "description": "name of sort columns",
                              "example": [
                                "id"
                              ]
                            }
                          }
                        },
                        "pager": {
                          "type": "object",
                          "description": "data about pager things",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "page number",
                              "example": 1
                            },
                            "item_per_page": {
                              "type": "integer",
                              "description": "number of item per page",
                              "example": 50
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "number of total pages"
                            },
                            "total_rows": {
                              "type": "integer",
                              "description": "number of total rows"
                            }
                          }
                        },
                        "form_data": {
                          "type": "array",
                          "items": {}
                        },
                        "items": {
                          "type": "array",
                          "description": "items of view",
                          "items": {
                            "type": "object",
                            "properties": {
                              "categories": {
                                "type": "array",
                                "description": "show top keywords with their categories that has been found",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "keyword": {
                                      "type": "string",
                                      "description": "founded product name",
                                      "example": "کوتون"
                                    },
                                    "category": {
                                      "type": "object",
                                      "description": "category of founded product",
                                      "properties": {
                                        "id": {
                                          "type": "integer",
                                          "example": 1234
                                        },
                                        "title_fa": {
                                          "type": "string",
                                          "description": "category name in persian",
                                          "example": "تی شرت مردانه"
                                        },
                                        "title_en": {
                                          "type": "string",
                                          "example": "MEN TEE-SHIRTS",
                                          "description": "category name in english"
                                        },
                                        "code": {
                                          "type": "string",
                                          "example": "men-tee-shirts",
                                          "description": "category slug"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "auto_complete": {
                                "type": "array",
                                "description": "items that can be useful for seller search keyword auto-complete",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "keyword": {
                                      "type": "string",
                                      "example": "کوتون"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "meta_data": {
                          "type": "object",
                          "description": "meta data",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/product-creation/be-seller/{product_id}": {
      "get": {
        "tags": [
          "Product (28)"
        ],
        "summary": "Scopes => product",
        "description": null,
        "parameters": [
          {
            "in": "path",
            "name": "product_id",
            "description": null,
            "required": true,
            "example": null,
            "schema": {
              "type": null
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "BeingProductSellerView",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "status code",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data that returned from API",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "شارژر تبلت دل",
                          "description": "product name"
                        },
                        "brand": {
                          "type": "string",
                          "example": "دل",
                          "description": "product brand"
                        },
                        "productId": {
                          "type": "integer",
                          "example": 1234,
                          "description": "product id"
                        },
                        "commission": {
                          "type": "object",
                          "description": "some data about product sales",
                          "properties": {
                            "canSell": {
                              "type": "boolean",
                              "example": true,
                              "description": "show if seller can sell this product or not"
                            },
                            "commission": {
                              "type": "double",
                              "example": 0.055,
                              "description": "rate of digikala commission from selling this product"
                            }
                          }
                        },
                        "productURL": {
                          "type": "string",
                          "example": "https://digikala.com/product/dkp-1234/",
                          "description": "product page link"
                        },
                        "referencePrice": {
                          "type": "integer",
                          "example": 10000000,
                          "description": "product reference price. that is a base amount for pricing it"
                        },
                        "productImage": {
                          "type": "string",
                          "example": "https://dkstatics-public.digikala.com/digikala-products/2567.jpg?x-oss-process=image/resize,m_lfit,h_115,w_115/quality,q_60",
                          "description": "product image link"
                        },
                        "fulfillmentAndDeliveryCost": {
                          "type": "object",
                          "description": "",
                          "properties": {
                            "factor": {
                              "type": "integer",
                              "example": 1,
                              "description": "nothing important"
                            },
                            "minimum_cost": {
                              "type": "integer",
                              "example": 100000,
                              "description": "this price is the minimum amount of fulfillment and delivery cost of digikala (IRR)"
                            },
                            "maximum_cost": {
                              "type": "integer",
                              "example": 800000,
                              "description": "this price is the maximum amount of fulfillment and delivery cost of digikala (IRR)"
                            }
                          }
                        },
                        "category": {
                          "type": "object",
                          "description": "product category details",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1234,
                              "description": "category id"
                            },
                            "title": {
                              "type": "string",
                              "example": "شارژر تبلت و موبایل",
                              "description": "category name"
                            },
                            "themes": {
                              "type": "array",
                              "description": "themes of this category",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "example": 1,
                                    "description": "theme id"
                                  },
                                  "label": {
                                    "type": "string",
                                    "example": "سایز بالاتنه مردان",
                                    "description": "theme label"
                                  },
                                  "themeType": {
                                    "type": "string",
                                    "example": "sized",
                                    "description": "theme type",
                                    "enum": [
                                      "sized",
                                      "colored"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        },
                        "site": {
                          "type": "string",
                          "example": "digikala",
                          "description": "sales channels of this product"
                        },
                        "product_dimension": {
                          "type": "object",
                          "description": "dimensions of product",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "example": 11,
                              "description": "in CM"
                            },
                            "length": {
                              "type": "integer",
                              "example": 22,
                              "description": "in CM"
                            },
                            "height": {
                              "type": "integer",
                              "example": 6,
                              "description": "in CM"
                            },
                            "weight": {
                              "type": "integer",
                              "example": 350,
                              "description": "in gram"
                            }
                          }
                        },
                        "price_type": {
                          "type": "string",
                          "example": "recommended",
                          "description": "pricing rules. it shows that if product price is fixed (regulated, printed) or changeable (recommended)",
                          "enum": [
                            "printed",
                            "regulated",
                            "recommended"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Response status (error)",
                      "example": "error"
                    },
                    "code": {
                      "type": "integer",
                      "description": "Http status code",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "General Error Message",
                      "example": "Validation failed"
                    },
                    "errors": {
                      "type": "object",
                      "description": "Response Data",
                      "properties": {
                        "productId": {
                          "type": "array",
                          "description": "input that faced error",
                          "items": {
                            "type": "string",
                            "description": "error message",
                            "example": "این قسمت نباید خالی باشد"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/product-creation/search/category/v2/{keyword}": {
      "get": {
        "tags": [
          "Product (28)"
        ],
        "summary": "Scopes => product",
        "description": "This api find and show data of related categories for searched category_id or Keyword",
        "parameters": [
          {
            "in": "path",
            "name": "keyword",
            "description": "category title OR id",
            "required": true,
            "example": null,
            "schema": {
              "type": "string, integer"
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "ProductCategorySearchListViewV2",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "request status",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data of request",
                      "properties": {
                        "sort_data": {
                          "type": "object",
                          "description": "data about sorting things",
                          "properties": {
                            "sort_column": {
                              "type": "string",
                              "description": "name of sort column",
                              "example": "id"
                            },
                            "sort_order": {
                              "type": "string",
                              "description": "asc or desc",
                              "example": "asc"
                            },
                            "sort_columns": {
                              "type": "string",
                              "description": "name of sort columns",
                              "example": [
                                "id",
                                "created_at",
                                "status"
                              ]
                            }
                          }
                        },
                        "pager": {
                          "type": "object",
                          "description": "data about pager things",
                          "properties": {
                            "page": {
                              "type": "integer",
                              "description": "page number",
                              "example": 1
                            },
                            "item_per_page": {
                              "type": "integer",
                              "description": "number of item per page",
                              "example": 10
                            },
                            "total_pages": {
                              "type": "integer",
                              "description": "number of total pages",
                              "example": 100
                            },
                            "total_rows": {
                              "type": "integer",
                              "description": "number of total rows",
                              "example": 100
                            }
                          }
                        },
                        "form_data": {
                          "type": "array",
                          "items": {}
                        },
                        "items": {
                          "type": "array",
                          "description": "items of view",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "description": "category id",
                                "example": 6351
                              },
                              "text": {
                                "type": "string",
                                "description": "category name (fa)",
                                "example": "ظرف مربا و عسل"
                              },
                              "leaf": {
                                "type": "boolean",
                                "description": "is it the last (lowest level) category in a tree?",
                                "example": true
                              }
                            }
                          }
                        },
                        "meta_data": {
                          "type": "object",
                          "description": "meta data",
                          "properties": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error! check your inputs."
          },
          "401": {
            "description": "Your access is denied. We can not authorize you. Please get a new access_token.!"
          },
          "403": {
            "description": "Your access is denied. Maybe you should ask a new permission!"
          },
          "404": {
            "description": "Data is not exist for your request."
          },
          "429": {
            "description": "You reached request limit amount. try again after reset_time"
          },
          "500": {
            "description": "Server Issue. Contact with support team"
          }
        },
        "deprecated": false
      }
    },
    "/open-api/v1/product-creation/category/{category_id}/validation": {
      "get": {
        "tags": [
          "Product (28)"
        ],
        "summary": "Scopes => product",
        "description": "This API check if a Category is Restricted for seller to sale product or not. If not, it returns some data that is required to create product. it mostly used for 2nd step of product creation",
        "parameters": [
          {
            "in": "path",
            "name": "category_id",
            "description": "Leaf (lowest level) category id",
            "required": true,
            "example": null,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "header",
            "name": "content-type",
            "required": true,
            "schema": {
              "default": "application/json"
            }
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "ProductCreationStep2ObjectView",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "status code",
                      "example": "ok"
                    },
                    "data": {
                      "type": "object",
                      "description": "data that returned from API",
                      "properties": {
                        "isValid": {
                          "type": "boolean",
                          "example": true,
                          "description": "is the category open to sell for seller or not"
                        },
                        "errors": {
                          "type": "array",
                          "description": "list of error message, if the 'isValid' parameter is false",
                          "items": {
                            "type": "string",
                            "example": "برای فروش در این گروه کالایی نیاز به مدرک ایکس است"
                          }
                        },
                        "bind": {
                          "type": "object",
                          "description": "if the category is valid to sell, there will be a lot of category related data here required for creating a product",
                          "properties": {
                            "brands": {
                              "type": "array",
                              "description": "list of brands assigned to selected category",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": 123,
                                    "description": "brand id"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "متفرقه Miscellaneous",
                                    "description": "brand (visible) title"
                                  },
                                  "title_fa": {
                                    "type": "string",
                                    "example": "متفرقه",
                                    "description": "brand title (fa)"
                                  },
                                  "title_en": {
                                    "type": "string",
                                    "example": "Miscellaneous",
                                    "description": "brand title (en)"
                                  },
                                  "logo_id": {
                                    "type": "string",
                                    "example": "https://dkstatics-public.digikala.com/digikala-brands/d37a7e9b8046132d4_1603699076.png",
                                    "description": "brand logo url"
                                  }
                                }
                              }
                            },
                            "category_product_types": {
                              "type": "array",
                              "description": "list of product types that is assigned to selected category",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "example": "123",
                                    "description": "product type id"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "تابلو چارت",
                                    "description": "product type title"
                                  }
                                }
                              }
                            },
                            "product_classes": {
                              "type": "array",
                              "description": "list of product classes that is assigned to selected category",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "example": "123",
                                    "description": "product class id"
                                  },
                                  "text": {
                                    "type": "string",
                                    "example": "آرجی‌بی RGB",
                                    "description": "product class title"
                                  }
                                }
                              }
                            },
                            "divisions": {
                              "type": "array",
                              "description": "list of divisions assigned to the selected category (useful for creating product title)",
                              "items": {
                                "type": "string",
                                "example": "division title"
                              }
                            },
                            "guideline": {
                              "type": "object",
                              "description": "some hint and guidance for the selected category",
                              "properties": {
                                "category_selection": {
                                  "type": "object",
                                  "description": "",
                                  "properties": {
                                    "video": {
                                      "type": "string",
                                      "example": "https://dkstatics-public.digikala.com/digikala-brands/80005e48c",
                                      "description": "video about category selection"
                                    },
                                    "short_description": {
                                      "type": "string",
                                      "example": "برای انتخاب گروه، لطفا نمونه مشابه کالای خود را در سایت دیجیکالا جست و جو کنید و چنانچه کالای یافت شده با کالایی که قصد درج آن را دارید یکسان بود، همان گروه را برای درج کالا انتخاب کنید.",
                                      "description": "hint about category selection"
                                    }
                                  }
                                },
                                "attributes": {
                                  "type": "object",
                                  "description": "",
                                  "properties": {
                                    "video": {
                                      "type": "string",
                                      "example": "https://dkstatics-public.digikala.com/digikala-brands/80005e48c",
                                      "description": "video about attribute selection"
                                    },
                                    "short_description": {
                                      "type": "string",
                                      "example": "توضیح کوتاه",
                                      "description": "short hint about attributes"
                                    },
                                    "items": {
                                      "type": "array",
                                      "description": "attribute item",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "title": {
                                            "type": "string",
                                            "example": "مشخصات فنی نوشتاری",
                                            "description": "title of attribute item"
                                          },
                                          "content": {
                                            "type": "string",
                                            "example": "<p>لطفا در هنگام نوشتن مشخصات فنی، به نکات زیر دقت کنید:</p>\n\n<p>1- &nbsp; &nbsp; تمام مشخصات فنی ذکر شده در این قسمت باید با مشخصات کالا در تصاویر، عنوان و شرح کالا یکسان باشد در صورت مغایرت این اطلاعات با هم، کالای شما در زمان بررسی رد می شود.<br />\n2- &nbsp; &nbsp;مشخصات فنی وارد شده باید دقیقا مطابق با کالایی باشد که بفروش میرسانید و در صورت هر گونه مغایرت، کالا به این دلیل مرجوع و فروشنده جریمه می شود.&nbsp;<br />\n3- &nbsp; &nbsp; املا و نگارش کلمات باید صحیح باشد و هیچ غلط املایی در آن وجود نداشته باشد.<br />\n4- &nbsp; &nbsp;در مشخصات فنی نباید نام فروشگاه، قیمت و گارانتی کالا را بنویسید.<br />\n5- &nbsp; &nbsp; مشخصات فنی، مشخصات دقیقی هستند، بنابراین نباید از عبارات تبلیغاتی و سلیقه ای استفاده کنید.<br />\nمثال: عمر مفید زیاد، ظاهر زیبا و...<br />\n6- &nbsp; &nbsp;اگر مشخصه ی فنی دارای واحد اندازه گیری است، حتما از مطابقت این عدد با واحد اندازه گیری اطمینان حاصل کنید. در صورت مغایرت، احتمال مرجوع شدن کالا زیاد است.<br />\n7- &nbsp; &nbsp; چنانچه کالای درج شده، چند پارچه یا چند تکه است باید مشخصات فنی تمام اجزا را در مشخصات کالا ذکر کنید.</p>",
                                            "description": "hint about attribute items"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "product_info": {
                                  "type": "object",
                                  "description": "some hint about product info (like product badges)",
                                  "properties": {
                                    "video": {
                                      "type": "string",
                                      "example": "https://dkstatics-public.digikala.com/digikala-brands/80005e48c",
                                      "description": "video about product info"
                                    },
                                    "short_description": {
                                      "type": "string",
                                      "example": "هرچی",
                                      "description": "hint about product info"
                                    },
                                    "items": {
                                      "type": "array",
                                      "description": "list of product info items",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "title": {
                                            "type": "string",
                                            "example": "نشان غیراصل",
                                            "description": "title of product info item"
                                          },
                                          "content": {
                                            "type": "string",
                                            "example": "<p>اصالت کالا (نشان غیر اصل): اگر روی کالا برندی وجود دارد که آن محصول توسط آن برند تولید نشده است، باید از نشان غیر اصل استفاده کنید. اگرروی کالا هیچ برندی وجود ندارد، نباید از نشان غیر اصل استفاده کرد و محصول را با برند متفرقه درج کنید.</p>\n\n<p>1- &nbsp; &nbsp;اگر محصول غیراصل است و از نشان غیر اصل استفاده می&zwnj;کنید، نباید هیچ برندی در عنوان کالا ذکر شود.<br />\n2- &nbsp; &nbsp;اگر کالایی نشان غیر اصل نداشته باشد به معنای این است که آن کالا اصل و تولید شده توسط آن برند است. اگر روی این کالا، کالای فیک بفروشید، مشمول جریمه خواهید شد. برای اطلاع بیشتر به این <a href=\"https://www.digikala.com/s/7ilfbc\">لینک</a><strong> </strong> مراجعه کنید.</p>",
                                            "description": "hint for product info item"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "media": {
                                  "type": "object",
                                  "description": "guidance about product media in the selected category",
                                  "properties": {
                                    "video": {
                                      "type": "string",
                                      "example": "https://dkstatics-public.digikala.com/digikala-brands/80005e48c",
                                      "description": "video for media guidance"
                                    },
                                    "short_description": {
                                      "type": "string",
                                      "example": "توضیح کوتاه",
                                      "description": "hint for media guidance"
                                    },
                                    "items": {
                                      "type": "array",
                                      "description": "list of media items with specific guidance",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "title": {
                                            "type": "string",
                                            "example": "تصویر آلبوم",
                                            "description": "media item title"
                                          },
                                          "content": {
                                            "type": "string",
                                            "example": "<p>تصاویر آلبوم برای نمایش زوایا و کاربرد کالا به مشتری است.<br />\n1- &nbsp; &nbsp;در هیچ کدام از تصاویر آلبوم نباید هیچ لوگو و واترمارکی وجود داشته باشد.<br />\n2- &nbsp; &nbsp;در تصاویر آلبوم نباید هیچ آدرس سایت، شماره تلفن و نشانی شبکه ها اجتماعی وجود داشته باشد. (لطفا اگر این موارد روی کالا یا بسته بندی وجود دارد طوری عکاسی کنید تا این موارد در تصاویر دیده نشود.)<br />\n3- &nbsp; &nbsp;در تصاویر آلبوم، طرح های مختلف یک کالا را قرار ندهید، برای هر طرح باید یک کالای جداگانه درج شود.<br />\n4- &nbsp; &nbsp;دقت کنید که بین هیچ کدام از تصاویر نباید مغایرتی وجود داشته باشد.</p>",
                                            "description": "hint for media item"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "category_data": {
                              "type": "object",
                              "description": "details of selected category",
                              "properties": {
                                "categoryTheme": {
                                  "type": "string",
                                  "example": "no_color_no_size",
                                  "description": "theme of product variants in this category",
                                  "enum": [
                                    "no_color_no_size",
                                    "colored",
                                    "sized"
                                  ]
                                },
                                "categoryThemeTranslated": {
                                  "type": "string",
                                  "example": "بدون رنگ یا سایز",
                                  "description": "theme name FA"
                                },
                                "categoryTitle": {
                                  "type": "string",
                                  "example": "نقشه چاپی",
                                  "description": "selected category name FA"
                                }
                              }
                            },
                            "allow_fake": {
                              "type": "boolean",
                              "example": true,
                              "description": "is it possible to create fake products in this category or NOT"
                            },
                            "brand_other_id": {
                              "type": "integer",
                              "example": 123,
                              "description": ""
                            },
                            "show_colors": {
                              "type": "boolean",
                              "example": false,
                              "description": "is the product in the selected category needs to assign color or not"
                            },
                            "dimension_level": {
                              "type": "string",
                              "example": "item",
                              "description": ""
                            },
                            "dimension_config": {
                              "type": "object",
                              "description": "configurations related to product dimension in the selected category",
                              "properties": {
                                "length": {
                                  "type": "object",
                                  "description": "range of valid product length",
                                  "properties": {
                                    "min": {
                                      "type": "integer",
                                      "example": 1,
                                      "description": "minimum valid product length in this category"
                                    },
                                    "max": {
                                      "type": "integer",
                                      "example": 200,
                                      "description": "maximum valid product length in this category"
                                    }
                                  }
                                },
                                "width": {
                                  "type": "object",
                                  "description": "range of valid product width",
                                  "properties": {
                                    "min": {
                                      "type": "integer",
                                      "example": 1,
                                      "description": "minimum valid product width in this category"
                                    },
                                    "max": {
                                      "type": "integer",
                                      "example": 200,
                                      "description": "maximum valid product width in this category"
                                    }
                                  }
                                },
                                "height": {
                                  "type": "object",
                                  "description": "range of valid product height",
                                  "properties": {
                                    "min": {
                                      "type": "integer",
                                      "example": 1,
                                      "description": "minimum valid product height in this category"
                                    },
                                    "max": {
                                      "type": "integer",
                                      "example": 200,
                                      "description": "maximum valid product height in this category"
                                    }
                                  }
                                },
                                "weight": {
                                  "type": "object",
                                  "description": "range of valid product weight",
                                  "properties": {
                                    "min": {
                                      "type": "integer",
                                      "example": 1,
                                      "description": "minimum valid product weight in this category"
                                    },
                                    "max": {
                                      "type": "integer",
                                      "example": 200000,
                                      "description": "maximum valid product weight in this category"
                                    }
                                  }
                                }
                              }
                            },
                            "general_mefa": {
                              "type": "object",
                              "description": "list of general MEFA (شناسه عمومی کالا) details for the products in selected category. key is general_mefa_id and value is general mefa detail",
                              "properties": {
                                "general_mefa_id": {
                                  "type": "object",
                                  "description": "",
                                  "properties": {
                                    "value": {
                                      "type": "integer",
                                      "example": 17242,
                                      "description": "general mefa identifier"
                                    },
                                    "text": {
                                      "type": "string",
                                      "example": "2720000114030(اطلس چاپی و مکتوب - شناسه عمومی تولید داخل)",
                                      "description": "general mefa description"
                                    },
[...]
